@using static MudBlazor.CategoryTypes
@using SharedClass.Components.Layout
@using SharedClass.Components.Model
@using SharedClass.Components.Data
@page "/purchaserequisition"
@using System.Globalization
@using System.Net.Http.Json

@layout AdminLayout;
@inject Select select;
@inject ISnackbar Snackbar;
@inject ILocalStorageService localStorage;
@inject NavigationManager NavigationManager;
@inject PurchaseRequisition purchaserequisition

@if (isLoading)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info" Style="text-transform:none; margin-bottom: 5px;" Size="Size.Large">Create</MudButton>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <MudTable @ref="_table" T="PurchaseRequisition" Items="@Elements" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="true"
                          OnRowClick="@OnRowClick" Filter="new Func<PurchaseRequisition,bool>(FilterFunc1)" @bind-SelectOnRowClick="@_selectOnRowClick" Elevation="4">

                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Purchase Requisitions</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>

                    <HeaderContent>
                        <MudTh>Requisition Number</MudTh>
                        <MudTh>Title</MudTh>
                        <MudTh>Status</MudTh>
                        <MudTh>Document Date</MudTh>
                        <MudTh>Creation Date</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Requisition Number">@context.PRNumber</MudTd>
                        <MudTd DataLabel="Title">@context.PRname</MudTd>
                        <MudTd DataLabel="Status">@context.Status</MudTd>
                        <MudTd DataLabel="Document Date">@context.DocumentDate</MudTd>
                        <MudTd DataLabel="Creation Date">@context.CreationDate</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                    </PagerContent>
                </MudTable>
            </div>
        </div>
    </div>
}

@code {
    //authorization
    bool isLoading = false;
    public bool isAuthorized { get; set; }
    protected override async void OnInitialized()
    {
        var cookieContent = await localStorage.GetItemAsync<bool>("Authorized");
        isAuthorized = cookieContent;
        if (isAuthorized)
        {
            isLoading = true;
            StateHasChanged();
        }
        else
        {
            isLoading = false;
            NavigationManager.NavigateTo("/adminlogin");
            Snackbar.Clear();
            Snackbar.Add("Not Authorized", Severity.Error);
        }
        base.OnInitialized();
    }
    //authorization

    private string searchString1 = "";
    private bool _selectOnRowClick = false;
    private MudTable<PurchaseRequisition> _table;
    private string _selectedItemText = "No row clicked";
    private IEnumerable<PurchaseRequisition> Elements = new List<PurchaseRequisition>();
    private HashSet<PurchaseRequisition> selectedItems = new HashSet<PurchaseRequisition>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await select.GetPR1DataAsync();
    }

    void OnRowClick(TableRowClickEventArgs<PurchaseRequisition> args)
    {
        purchaserequisition.PRNumber = args.Item.PRNumber;
        NavigationManager.NavigateTo($"/PurchaseRequisition/{purchaserequisition.PRNumber}");
    }

    private bool FilterFunc1(PurchaseRequisition element) => FilterFunc(element, searchString1);

    private bool FilterFunc(PurchaseRequisition element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (element.PRname.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if ($"{element.PRNumber} {element.DocumentDate} {element.CreationDate}".Contains(searchString)) return true;

        return false;
    }
}