    @page "/purchaserequisition/create"
    @using System.Reflection;
    @using Blazored.SessionStorage
    @using Dapper
    @using SharedClass.Components.Data
    @using SharedClass.Components.Layout
    @using System.Globalization
    @using SharedClass.Components.Model
    @using Microsoft.Data.SqlClient
    @inject Insert insert;
    @inject Select select;
    @inject IJSRuntime JSRuntime;
    @inject IJSRuntime JSRuntime;
    @inject ISnackbar Snackbar;
    @inject NavigationManager NavigationManager;
    @inject ISessionStorageService sessionStorage;
    @inject CRUD crud;
    @inject PurchaseRequisition purchase;
    @inject PR_Items pritem;
    @inject Connection con;
    @layout AdminLayout;


@if (isLoading)
{
    <div class="row p-3 align-items-center">
        <div class="col-6">
            <h3>
                Create Purchase Requisition
                @if (status == "Save" && !IsDraft)
                {
                    <MudChip Color="Color.Warning">Not Saved</MudChip>
                }
                @if (IsDraft)
                {
                    <MudChip Color="Color.Error">Draft</MudChip>
                }
                @if (IsApproved)
                {
                    <MudChip Color="Color.Success">Submitted</MudChip>
                }
            </h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            @if (!IsApproved)
            {
                <button type="submit" class="btn btn-primary rounded-3 text-sm-center rz-ripple" @onclick="ToggleApproval">
                    @GetSubmitButtonText()
                </button>
            }
        </div>
    </div>


    <div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
        <form class="row g-3" @oninput="HandleFormInput">
            <div class="col-md-6" hidden="@DisplayPR">
                <label class="form-label">Purchase Requisition Number</label>
                <input type="text" class="form-control" @bind="PurchaseRequisitionNumber"  readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" @bind="PurchaseRequisitionNumber" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Creation Date</label>
                <input type="date" @bind="DocumentDate" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Vendor</label>
                <input type="text" class="form-control" @bind="Vendor" readonly="@IsApproved">
            </div>
        </form>
    </div>

    <div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
        <h5>Items</h5>
        <form class="row g-3" @oninput="HandleFormInput">
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th class="col col-auto" style="width: 50px;">
                            No.
                        </th>
                        <th class="col col-auto">
                            Item
                        </th>
                        <th class="col col-auto" style="width: 70px;">
                            Quantity
                        </th>
                        <th class="col col-auto text-center" style="width: 150px;">
                            UOM
                        </th>
                        <th class="col col-auto" style="width: 150px;">
                            Required By
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    @for (int index = 0; index < Items.Count; index++)
                    {
                        var item = Items[index];
                        item.RowID = index + 1;
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" class="me-1" @bind="item.Selected" hidden="@IsApproved" />
                                    @(index + 1)
                                    <button class="ms-2 btn btn-sm btn-danger rz-ripple" @onclick:preventDefault @onclick="() => DeleteRow(index)" style="display: @(item.Selected ? "block" : "none")" hidden="@IsApproved">Delete</button>
                                </div>
                            </td>
                            <td><input type="text" class="form-control" id="Item" @bind="item.Item" readonly="@IsApproved" /></td>
                            <td><input type="text" class="form-control" @bind="item.Quantity" readonly="@IsApproved" /></td>
                            <td>
                                <input type="text" list="uomOptions" class="form-control" @bind="item.UOM" readonly="@IsApproved" />
                                <datalist id="uomOptions">
                                    <option value="Piece"></option>
                                    <option value="Each"></option>
                                    <option value="Box"></option>
                                </datalist>
                            </td>
                            <td>
                                <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" @bind="item.RequiredBy" readonly="@IsApproved" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <div class="col-12">
            <button class="btn btn-primary rounded-pill rz-ripple" @onclick="AddRow" hidden="@IsApproved">Add Row</button>
        </div>
    </div>
}

@code {
    bool isLoading = false;

    public bool isAuthorized { get; set; }

    protected override async void OnInitialized()
    {

        var cookieContent = await sessionStorage.GetItemAsync<bool>("Authorized");
        isAuthorized = cookieContent;
        if (isAuthorized)
        {

            isLoading = true;

            // Items = select.PurhcaseRequest(purchase.PRNumber);
            // if (Items.Count > 0)
            // {
            //     PurchaseRequisitionNumber = Items[0].PRNumber;
            //     DocumentDate = Items[0].CreationDate;
            //     if (purchase.Status == "Approved")
            //     {
            //         IsApproved = true;
            //         DisplayPR = false;
            //     }
            // }
            // else
            // {
            //     PurchaseRequisitionNumber = 1;
            // }
            StateHasChanged();

        }
        else
        {
            isLoading = false;
            NavigationManager.NavigateTo("/adminlogin");
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;
            Snackbar.Add("Not Authorized", Severity.Error);
        }
        base.OnInitialized();
    }

    private bool DisplayPR = true;
    private string PurchaseRequisitionNumber { get; set; }
    private DateTime DocumentDate { get; set; } = DateTime.Now;
    private string Vendor { get; set; }
    private bool IsApproved { get; set; } = false;
    private string status;
    private bool IsDraft { get; set; } = false;
    private bool IsSaving { get; set; } = false;
    private List<PR_Items> Items = new List<PR_Items>();

    List<int> IsDelete = new List<int>();


    public string createPurchase()
    {

        try
        {
            if (!string.IsNullOrEmpty(Vendor))
            {
                var CountPR = select.PurhcaseRequest(PurchaseRequisitionNumber);
                if (CountPR.Count == 0)
                {
                    PurchaseRequisitionNumber = "PR";
                    var CountNo = "";
                    int data = select.CountPRnumber();
                    if (data != 0)
                    {
                        data += 1;
                        var itr = data.ToString();
                        var itNum = itr.Length;
                        if (itNum == 1)
                        {
                            CountNo += "00" + itr;
                            PurchaseRequisitionNumber = PurchaseRequisitionNumber + "-" + CountNo;
                        }
                        else if (itNum == 2)
                        {
                            CountNo += "0" + itr;
                            PurchaseRequisitionNumber = PurchaseRequisitionNumber + "-" + CountNo;
                        }
                        else
                        {
                            PurchaseRequisitionNumber = PurchaseRequisitionNumber + "-" + itr;
                        }

                    }
                    else
                    {
                        PurchaseRequisitionNumber = PurchaseRequisitionNumber + "-" + "001";
                    }
                }
                if (IsDraft)
                {
                    purchase.Status = "Draft";
                }
               else if (IsApproved)
                {
                    purchase.Status = "Approved";
                }
                crud.CRD(purchase, "CreatePurchaseRequest");
                foreach (var PR in Items)
                {
                    foreach (int del in IsDelete)
                    {
                        if (PR.RowID == del)
                        {
                            IsDelete.Remove(del);
                        }
                    }
                    PR.PRNumber = PurchaseRequisitionNumber;
                    // if (IsDraft)
                    // {
                    //     PR.Status = "Draft";
                    // }
                    // if (IsApproved)
                    // {
                    //     PR.Status = "Approved";
                    // }
                    DisplayPR = false;
                    

                }
                foreach (var del in IsDelete)
                {
                    pritem.PRNumber = PurchaseRequisitionNumber;
                    pritem.RowID = del;
                    pritem.RequiredBy = DateTime.Now;
                    crud.CRD(purchase, "CreatePurchaseRequest", System.Data.CommandType.StoredProcedure, true);
                }
                if (IsDraft)
                {
                    return "Purchase Request Saved Successfully";
                }
                else if (IsApproved)
                {
                    return "Purchase Request Submitted Successfully";
                }
                else
                {
                    return null; 
                }
            }
            else
            {
                IsDraft = false;
                return "Error in saving request";
            }
        }

        catch (Exception ex) 
        {

            return ex.ToString();
        }
    }
    public void Shownotification()
    {
        string notification = createPurchase();
        if (notification.Contains("Successfully"))
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;
            Snackbar.Add(notification, Severity.Success);
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;
            Snackbar.Add(notification, Severity.Error);
        }
      

    }

    private string GetSubmitButtonText()
    {
        if (IsApproved)
        {
            status = "Submitted";
            return "Submitted";
        }
        else if (IsDraft)
        {
            status = "Submit";
            return "Submit";
        }
        else
        {
            status = "Save";
            return "Save";
        }
    }

    private void ToggleApproval()
    {
            if (IsDraft)
            {
                IsDraft = false;
                IsApproved = true;
                IsSaving = false;
            Shownotification();
            }
            else if (!IsSaving)
            {
                IsDraft = true;
            Shownotification();
            }
    }

    private void Save()
    {
        IsDraft = true;
        IsSaving = true;
        IsSaving = false;
    }

    private void AddRow()
    {
        Items.Add(new PR_Items
            {
                RequiredBy = DateTime.Now,
                Quantity = 1
            });
    }

    private void DeleteRow(int index)
    {

        for (int i = Items.Count - 1; i >= 0; i--)
        {
            if (Items[i].Selected)
            {
                IsDelete.Add(Items[i].RowID);
                Items.RemoveAt(i);
            }
        }
    }

    private void HandleFormInput()
    {
        if (IsDraft)
        {
            status = "Not Saved";
            IsDraft = false;
            GetSubmitButtonText();
            StateHasChanged();
        }
    }
}