@page "/requestforquotation/new-request-for-quotation"
@page "/requestforquotation/{RFQNumber?}"

@using SharedClass.Components.Pages.Modals
@using SharedClass.Components.Layout
@using SharedClass.Components.Model
@using SharedClass.Components.Data
@using Microsoft.Data.SqlClient
@using System.Globalization
@using System.Reflection
@using System.Text
@using Dapper

@inject CRUD crud;
@layout AdminLayout;
@inject Select select;
@inject Vendor Vendorlist;
@inject Connection con;
@inject RFQ_Items RFQItem;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject RequestForQuotation rfq;
@inject IDialogService DialogService;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

@if (isLoading)
{
    <div class="row p-3 align-items-center">
        <div class="col-6">
            <h3>
                @header
                @if (IsSaving)
                {
                    <MudChip Variant="Variant.Text" Color="Color.Warning">Not Saved</MudChip>
                }
                @if (IsDraft)
                {
                    <MudChip Variant="Variant.Text" Color="Color.Error">Draft</MudChip>
                }
                @if (IsApproved)
                {
                    <MudChip Variant="Variant.Text" Color="Color.Success">Submitted</MudChip>
                }
                @if (IsCancelled)
                {
                    <MudChip Variant="Variant.Text" Color="Color.Error">Cancelled</MudChip>
                }
            </h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            @if (!IsApproved && !IsCancelled)
            {
                <button type="submit" class="btn btn-primary m-1 rounded-3 text-sm-center" @onclick="SavePO">
                    @GetSubmitButtonText()
                </button>
            }
            @if (IsApproved && !IsCancelled)
            {
                <div class="dropdown m-1" id="dropdown">
                    <button type="reset" class="btn btn-primary rounded-3 text-sm-center" onclick="toggleDropdown()">Create</button>
                    <ul class="dropdown-menu w-100 list-group mt-1" id="dropdownMenu" style="display: none;">
                        <li @onclick="CreateQuotation"><a class="btn ms-2 m-1 text-sm-start">Vendor Quotation</a></li>
                    </ul>
                </div>
                <button type="reset" class="btn btn-danger m-1 rounded-3 text-sm-center" @onclick="OpenDialog">
                    Cancel
                </button>
            }
        </div>
    </div>

    <div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
        <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
            <div class="col-md-6" hidden="@DisplayPO">
                <label class="form-label">Quotation Number</label>
                <input type="text" class="form-control" @bind="rfq.RFQNumber" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Date</label>
                <input type="date" @bind="rfq.DocumentDate" class="form-control" readonly="@IsApproved">
            </div>
        </form>
    </div>

    <div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
        <h5>Vendors</h5>
        <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
            <table class="table size table-hover">
                <thead>
                    <tr>
                        <th class="col col-auto" style="width: 50px;">
                            No.
                        </th>
                        <th class="col col-auto">
                            Vendor
                        </th>
                        <th class="col col-auto">
                            Contact
                        </th>
                        <th class="col col-auto">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    @for (int index = 0; index < RFQVendor.Count; index++)
                    {
                        var vendor = RFQVendor[index];
                        vendor.RowID = index + 1;
                        var rowIndex = vendor.RowID - 1;
                        DropDownVendor.ListItems.Add(new BindDropdown { IsDropdownOpen = false });
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" class="me-1" @bind="vendor.Selected" hidden="@IsApproved" />
                                    @(index + 1)
                                    <button class="ms-2 btn btn-sm btn-danger" @onclick:preventDefault @onclick="() => Deletevendor(index)" style="display: @(vendor.Selected ? "block" : "none")" hidden="@IsApproved">Delete</button>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown" id="dropdown" @onkeydown="e => DropDownVendor.CloseDropdown(e, rowIndex)">
                                    <input type="text" id="Vendor" readonly="@ReadonlyHidden" @onclick="() => DropDownVendor.ToggleDropdown(rowIndex)" @bind="VendorInfo[rowIndex].VendorName"
                                           placeholder="Select a Vendor" class="w-100 text-start btn dropdown-toggle bg-white border" @oninput="e => FilterVendorOptions(e, rowIndex)" />
                                    <ul class="dropdown-menu w-100" id="ul" style="max-height: 200px; overflow-y: auto; display: @(DropDownVendor.ListItems[rowIndex].IsDropdownOpen ? "block" : "none");"
                                        aria-labelledby="dropdownMenuButton" hidden="@ReadonlyHidden">
                                        <li>
                                            @if (DropDownVendor.ListItems[rowIndex].FilteredOptions != null)
                                            {
                                                @foreach (var option in DropDownVendor.ListItems[rowIndex].FilteredOptions)
                                                {
                                                    <a class="dropdown-item" @onclick="() => SelectVendorOption(option, rowIndex)">@option.Text</a>
                                                    <hr class="m-1 border-primary" />
                                                }
                                            }
                                            <button @onclick="NavigateVendor" class="text-info" hidden="@ReadonlyHidden"><i class="bi bi-plus h5 ms-2 m-1" />Create new Vendor</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td><input type="text" class="form-control" @bind="VendorInfo[rowIndex].Contact" readonly="@ReadonlyHidden" /></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" class="me-1" @bind="vendor.SendEmail" readonly="@ReadonlyHidden" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <div class="col-12">
            <button class="btn btn-primary rounded-pill" @onclick="AddRowVendor" hidden="@IsApproved">Add Row</button>
        </div>
    </div>

    <div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
        <h5>Items</h5>
        <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
            <table class="table size table-hover">
                <thead>
                    <tr>
                        <th class="col col-auto" style="width: 50px;">
                            No.
                        </th>
                        <th class="col col-auto">
                            Item
                        </th>
                        <th class="col col-auto" style="width: 70px;">
                            Quantity
                        </th>
                        <th class="col col-auto text-center" style="width: 150px;">
                            UOM
                        </th>
                        <th class="col col-auto" style="width: 150px;">
                            Required By
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    @for (int index = 0; index < Items.Count; index++)
                    {
                        var item = Items[index];
                        item.RowID = index + 1;
                        var rowIndex = item.RowID - 1;
                        DropDownItem.ListItems.Add(new BindDropdown { IsDropdownOpen = false });
                        DropDownUOM.ListItems.Add(new BindDropdown { IsDropdownOpen = false });
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" class="me-1" @bind="item.Selected" hidden="@IsApproved" />
                                    @(index + 1)
                                    <button class="ms-2 btn btn-sm btn-danger" @onclick:preventDefault @onclick="() => DeleteRow(index)" style="display: @(item.Selected ? "block" : "none")" hidden="@IsApproved">Delete</button>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown" id="dropdown" @onkeydown="e => DropDownItem.CloseDropdown(e, rowIndex)">
                                    <input type="text" id="Item" readonly="@ReadonlyHidden" @onclick="() => DropDownItem.ToggleDropdown(rowIndex)" @bind="ItemName[rowIndex]"
                                           placeholder="Select an Item" class="w-100 text-start btn dropdown-toggle bg-white border" @oninput="e => FilterItemOptions(e, rowIndex)" />
                                    <ul class="dropdown-menu w-100" id="ul" style="max-height: 200px; overflow-y: auto; display: @(DropDownItem.ListItems[rowIndex].IsDropdownOpen ? "block" : "none");"
                                        aria-labelledby="dropdownMenuButton" hidden="@ReadonlyHidden">
                                        <li>
                                            @if (DropDownItem.ListItems[rowIndex].FilteredOptions != null)
                                            {
                                                @foreach (var option in DropDownItem.ListItems[rowIndex].FilteredOptions)
                                                {
                                                    <a class="dropdown-item" bind="@item.Item" @onclick="() => SelectItemOption(option, rowIndex)">@option.Text</a>
                                                    <hr class="m-1 border-primary" />
                                                }
                                            }
                                            <button href="#" class="text-info" hidden="@ReadonlyHidden"><i class="bi bi-plus h5 ms-2 m-1" />Create a new Item</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td><input type="text" inputmode="numeric" id="quantity" class="form-control" @bind="item.Quantity" readonly="@ReadonlyHidden" /></td>
                            <td>
                                <div class="dropdown" id="dropdown" @onkeydown="e => DropDownUOM.CloseDropdown(e, rowIndex)">
                                    <input type="text" id="Item" readonly="@ReadonlyHidden" @onclick="() => DropDownUOM.ToggleDropdown(rowIndex)" @bind="item.UOM"
                                           placeholder="Select UOM" class="w-100 text-start btn dropdown-toggle bg-white border" @oninput="e => FilterUOMOptions(e, rowIndex)" />
                                    <ul class="dropdown-menu w-100" id="ul" @onclick="() =>DropDownItem.HandleDropdownFocusOut(rowIndex)"
                                        style="max-height: 200px; overflow-y: auto; display: @(DropDownUOM.ListItems[rowIndex].IsDropdownOpen ? "block" : "none");"
                                        aria-labelledby="dropdownMenuButton" hidden="@ReadonlyHidden">
                                        <li>
                                            <div @onfocusout="() =>DropDownUOM.HandleDropdownFocusOut(rowIndex)">
                                                @if (DropDownUOM.ListItems[rowIndex].FilteredOptions != null)
                                                {
                                                    @foreach (var option in DropDownUOM.ListItems[rowIndex].FilteredOptions)
                                                    {
                                                        <a class="dropdown-item" bind="@item.Item" @onclick="() => SelectUOMOption(option, rowIndex)">@option.Text</a>
                                                        <hr class="m-1 border-primary" />
                                                    }
                                                }
                                                <button @onclick="NavigateUOM" class="text-info"><i class="bi bi-plus h5 ms-2 m-1" />Create new UOM</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" @bind="item.RequiredBy" readonly="@IsApproved" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <div class="col-12">
            <button class="btn btn-primary rounded-pill" @onclick="AddRowItem" hidden="@IsApproved">Add Row</button>
        </div>
    </div>

    <VendorSelection @bind-IsVisible="IsVisible" RFQNumber="@rfq.RFQNumber" />

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            dropdownMenu.style.display = (dropdownMenu.style.display === "block") ? "none" : "block";
        }
        $('#quantity').on('input', function () {
            debugger;
            var inputValue = $(this).val();
            var nonNumberRegex = /[^0-9]|[-]{2,}/g; // Regex to match non-numeric characters and more than one occurrence of plus or minus sign

            if (nonNumberRegex.test(inputValue)) {
                $(this).val(inputValue.replace(nonNumberRegex, '')); // Remove non-numeric characters and more than one occurrence of plus or minus sign
            }
        });
        $('#quantity').on('paste', function () {
            debugger;
            var inputValue = $(this).val();
            var nonNumberRegex = /[^0-9]|[-]{2,}/g; // Regex to match non-numeric characters and more than one occurrence of plus or minus sign

            if (nonNumberRegex.test(inputValue)) {
                $(this).val(inputValue.replace(nonNumberRegex, '')); // Remove non-numeric characters and more than one occurrence of plus or minus sign
            }
        });
    </script>
}

@code {
    [Parameter]
    public string? RFQNumber { get; set; }
    private string header = "New Request for Quotation";

    bool isLoading = false;
    private bool IsDraft = false;
    private bool IsSaving = true;
    private bool DisplayPO = true;
    private bool IsApproved = false;
    private bool IsRejected = false;
    private bool IsSubmitted = false;
    private bool IsCancelled = false;
    private bool IsVisible = false;
    public bool isAuthorized { get; set; }
    public bool ReadonlyHidden { get { return IsCancelled || IsApproved; } }

    public DropDown DropDownUOM = new DropDown();
    public DropDown DropDownItem = new DropDown();
    public DropDown DropDownVendor = new DropDown();


    List<int> IsDelete = new List<int>();
    List<int> IsDeleteVendor = new List<int>();
    private List<string> UOMList { get; set; }
    public List<string> ItemName = new List<string>();
    public List<Vendor> VendorInfo = new List<Vendor>();
    private List<RFQ_Items> Items = new List<RFQ_Items>();
    private List<RFQVendor> RFQVendor = new List<RFQVendor>();

    protected override async void OnInitialized()
    {
        var cookieContent = await _protectedLocalStore.GetLocalAsync<bool>("Authorized");
        isAuthorized = cookieContent;
        if (isAuthorized)
        {
            isLoading = true;
            try
            {
                using (SqlConnection db = new SqlConnection(con.connectionString))
                {
                    rfq.DocumentDate = DateTime.Now;
                    var PRNumber = string.Empty;
                    if (await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "PRNumber"))
                    {
                        PRNumber = await _protectedLocalStore.GetLocalAsync<string>("PRNumber");
                    }

                    if (RFQNumber != null)
                    {
                        rfq = db.QueryFirstOrDefault<RequestForQuotation>("Select * from RequestForQuotation where RFQNumber = @RFQNumber", new { RFQNumber = RFQNumber });
                        Items = db.Query<RFQ_Items>("select * from RFQ_Items where RFQNumber = @RFQNumber", new { RFQNumber = RFQNumber }).ToList();
                        ItemName = db.Query<string>("select ItemName from RFQ_Items inner join Items on Item = ItemCode  where RFQNumber = @RFQNumber", new { RFQNumber = RFQNumber }).ToList();
                        VendorInfo = db.Query<Vendor>("Select VendorName,Contact from Vendor v inner join RFQVendor rv on v.VendorID = rv.VendorID where RFQNumber = @RFQNumber", new { RFQNumber = RFQNumber }).ToList();
                        RFQVendor = db.Query<RFQVendor>("select * from RFQVendor where RFQNumber = @RFQNumber", new { RFQNumber = RFQNumber }).ToList();
                        if (rfq == null || Items.Count == 0)
                            NavigationManager.NavigateTo("/requestforquotation/");

                        DisplayPO = false;
                        header = rfq.RFQName;
                        if (rfq.Status == PurchaseStatuses.Submitted)
                        {
                            IsApproved = true;
                            IsSaving = false;
                        }
                        else if (rfq.Status == PurchaseStatuses.Draft)
                        {
                            IsDraft = true;
                            IsSaving = false;
                        }
                        else if (rfq.Status == PurchaseStatuses.Cancelled)
                        {
                            IsCancelled = true;
                            IsSaving = false;
                        }
                    }
                    else if (!string.IsNullOrWhiteSpace(PRNumber))
                    {
                        Items = db.Query<RFQ_Items>("Select * from PR_Items where PRNumber = @PRNumber", new { PRNumber = PRNumber }).ToList();
                        ItemName = db.Query<string>("select ItemName from PR_Items inner join Items on Item = ItemCode  where PRNumber = @PRNumber", new { PRNumber = PRNumber }).ToList();
                        rfq.RefrenceDocument = PRNumber;
                        AddRowVendor();
                        await _protectedLocalStore.SetLocalAsync("PRNumber", "");
                    }
                    else
                    {
                        AddRowItem();
                        AddRowVendor();
                    }
                    DropDownVendor.Options = db.Query<option>("Select VendorID as Value, VendorName as Text from Vendor").ToList();
                    DropDownItem.Options = db.Query<option>("select ItemCode as Value, ItemName as Text from Items").ToList();
                    DropDownUOM.Options = db.Query<option>("select UOMName as Text , UOMName as Value from UOM").ToList();

                }
                StateHasChanged();
            }
            catch (Exception)
            {
                throw;
            }
        }
        else
        {
            isLoading = false;
            NavigationManager.NavigateTo("/adminlogin");
            Snackbar.Clear();
            Snackbar.Add("Not Authorized", Severity.Error);
        }

        base.OnInitialized();
    }

    public string createPurchase()
    {
        try
        {
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                string validate = ValidatePO();
                if (validate != null)
                {
                    return validate;
                }
                StringBuilder titleBuilder = new StringBuilder("RFQ for ");

                foreach (string data in ItemName)
                {
                    titleBuilder.Append(data);
                    titleBuilder.Append(", ");
                }

                if (Items.Count > 0)
                {
                    titleBuilder.Length -= 2;
                    titleBuilder.Append(".");
                }

                rfq.RFQName = titleBuilder.ToString();
                header = titleBuilder.ToString();

                if (IsSaving)
                {
                    rfq.Status = PurchaseStatuses.Draft;
                }
                else if (IsDraft)
                {
                    rfq.Status = PurchaseStatuses.Submitted;
                }
                rfq.RFQNumber = crud.CRD(rfq, "CreateRFQ");

                foreach (var RF in Items)
                {
                    foreach (int del in IsDelete)
                    {
                        if (IsDelete.Any(Del => Del == RF.RowID))
                        {
                            IsDelete.Remove(RF.RowID);
                        }
                    }
                    RF.RFQNumber = rfq.RFQNumber;
                    DisplayPO = false;
                    crud.CRD(RF, "RFQItems");
                }
                foreach (var VR in RFQVendor)
                {
                    if (IsDeleteVendor.Any(Del => Del == VR.RowID))
                    {
                        IsDelete.Remove(VR.RowID);
                    }
                    VR.RFQNumber = rfq.RFQNumber;
                    DisplayPO = false;
                    crud.CRD(VR, "RFQVendors");
                }
                foreach (var del in IsDelete)
                {
                    RFQItem.RowID = del;
                    RFQItem.RFQNumber = rfq.RFQNumber;
                    crud.CRD(RFQItem, "RFQItems", IsDelete: true);
                }
                foreach (var del in IsDeleteVendor)
                {
                    RFQItem.RowID = del;
                    RFQItem.RFQNumber = rfq.RFQNumber;
                    crud.CRD(RFQItem, "RFQVendors", IsDelete: true);
                }

                IsDelete.Clear();
                ToggleApproval();
                if (RFQNumber == null)
                {
                    NavigationManager.NavigateTo($"/requestforquotation/{rfq.RFQNumber}", forceLoad: true);
                }
                if (IsDraft)
                {
                    return "RFQ Saved Successfully";
                }

                else if (IsApproved)
                {
                    return "Request for Quotation Submitted Successfully";
                }

                else if (IsCancelled)
                {
                    return "Request for Quotation Cancelled Successfully";
                }

                else
                {
                    IsDraft = false;
                    return "Error in saving request";
                }
            }
        }
        catch (Exception ex)
        {
            return ex.Message;
        }
    }

    public string ValidatePO()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            if (rfq.RFQNumber != null)
            {
                string GetStatus = db.QueryFirstOrDefault<string>("Select Status from RequestForQuotation where RFQNumber = @RFQNumber", new { RFQNumber = rfq.RFQNumber });
                if (GetStatus != null)
                {
                    if (GetStatus == PurchaseStatuses.Pending && !IsApproved) { return "Request For Quotation has already been submitted changes cannot be done"; }
                    if (GetStatus == PurchaseStatuses.Cancelled && !IsCancelled) { return "This Request For Quotation has already been Cancelled"; }
                }
                else
                {
                    return "Request For Quotation ID does not exist";
                }
            }

            if (rfq.DocumentDate == null) return "Please Enter Document Date";

            // if (string.IsNullOrWhiteSpace(vendor.VendorName)) return "Please Enter Vendor";

            // if (!DropDownVendor.Options.Any(option => option.Text == vendor.VendorName)) return "Please Enter Valid Vendor";

            foreach (var PO in Items)
            {
                if (string.IsNullOrWhiteSpace(PO.Item)) return $"Please select Item on Row: {PO.RowID}";

                if (string.IsNullOrWhiteSpace(ItemName[PO.RowID - 1])) return $"Please Enter Item on Row: {PO.RowID}";

                if (string.IsNullOrWhiteSpace(PO.UOM)) return $"Please Enter UOM on Row: {PO.RowID}";

                if (PO.Quantity <= 0) return $"Row {PO.RowID}: Quantity cannot be less than or equal to 0";

                if (PO.RequiredBy == null) return $"Please Enter Required By date on Row: {PO.RowID}";

                if (!DropDownItem.Options.Any(option => option.Text == ItemName[PO.RowID - 1])) return $"Item on Row: {PO.RowID} does not exist";

            }
            foreach (var VR in RFQVendor)
            {
                if (string.IsNullOrWhiteSpace(VR.VendorID)) return $"Please select Vendor on Row: {VR.RowID}";

                if (string.IsNullOrWhiteSpace(VendorInfo[VR.RowID - 1].VendorName)) return $"Please Enter Vendor on Row: {VR.RowID}";

                if (!DropDownVendor.Options.Any(option => option.Text == VendorInfo[VR.RowID - 1].VendorName)) return $"Vendor on Row: {VR.RowID} does not exist";
            }

            return null;
        }
    }

    public void SavePO()
    {
        string notification = createPurchase();
        if (notification.Contains("Successfully"))
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Success);
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Error);
        }
    }

    private string GetSubmitButtonText()
    {
        if (IsApproved)
        {
            return "Cancel";
        }
        else if (IsDraft)
        {
            return "Submit";
        }
        else
        {
            return "Save";
        }
    }

    private void ToggleApproval()
    {
        if (IsDraft)
        {
            IsDraft = false;
            IsApproved = true;
            IsSaving = false;
        }
        else if (IsSaving)
        {
            IsDraft = true;
            IsSaving = false;
        }
        else if (IsApproved)
        {
            IsCancelled = true;
            IsSaving = false;
            IsApproved = false;
        }
    }

    private void AddRowItem()
    {
        HandleFormInput();
        Items.Add(new RFQ_Items
            {
                RequiredBy = DateTime.Now,
                Quantity = 1
            });
        ItemName.Add("");
    }

    private void AddRowVendor()
    {
        HandleFormInput();
        RFQVendor.Add(new RFQVendor { });
        VendorInfo.Add(new Vendor { });
    }

    private void DeleteRow(int index)
    {
        for (int i = Items.Count - 1; i >= 0; i--)
        {
            if (Items[i].Selected)
            {
                IsDelete.Add(Items[i].RowID);
                Items.RemoveAt(i);
                ItemName.RemoveAt(i);
                DropDownItem.ListItems.RemoveAt(i);
            }
        }
    }

    private void Deletevendor(int index)
    {
        for (int i = RFQVendor.Count - 1; i >= 0; i--)
        {
            if (RFQVendor[i].Selected)
            {
                IsDeleteVendor.Add(RFQVendor[i].RowID);
                RFQVendor.RemoveAt(i);
                VendorInfo.RemoveAt(i);
                DropDownVendor.ListItems.RemoveAt(i);
            }
        }
    }

    private void HandleFormInput()
    {
        if (IsDraft)
        {
            IsSaving = true;
            IsDraft = false;
            GetSubmitButtonText();
            StateHasChanged();
        }
    }

    public void FilterVendorOptions(ChangeEventArgs e, int rowIndex)
    {
        bool result = DropDownVendor.FilterOptions(e, rowIndex); ;

        StateHasChanged();
    }

    private void SelectVendorOption(option options, int rowIndex)
    {
        if (!RFQVendor.Any(option => option.VendorID == options.Value) || VendorInfo[rowIndex].VendorName == options.Text || VendorInfo[rowIndex].VendorName == "")
        {
            bool result = DropDownVendor.SelectOption(options, rowIndex);
            if (result == false)
            {
                VendorInfo[rowIndex].VendorName = options.Text;
                RFQVendor[rowIndex].VendorID = options.Value;
                using (SqlConnection db = new SqlConnection(con.connectionString))
                {
                    VendorInfo[rowIndex].Contact = db.QueryFirstOrDefault<string>("Select Contact from Vendor where VendorID = @VendorID", new { VendorID = options.Value });
                }
            }
        }
    }

    public void FilterItemOptions(ChangeEventArgs e, int rowIndex)
    {
        bool result = DropDownItem.FilterOptions(e, rowIndex);
        if (result == true)
        {
            if (!DropDownItem.ListItems[rowIndex].FilteredOptions.Any(option => option.Text == Items[rowIndex].Item))
            {
                Items[rowIndex].Item = "";
            }
        }
        StateHasChanged();
    }

    private void SelectItemOption(option options, int rowIndex)
    {
        bool result = DropDownItem.SelectOption(options, rowIndex);
        if (result == false)
        {

            ItemName[rowIndex] = options.Text;
            Items[rowIndex].Item = options.Value;
        }
    }

    public void FilterUOMOptions(ChangeEventArgs e, int rowIndex)
    {
        bool result = DropDownUOM.FilterOptions(e, rowIndex);
        if (result == true)
        {
            if (!DropDownUOM.ListItems[rowIndex].FilteredOptions.Any(option => option.Text == Items[rowIndex].Item))
            {
                Items[rowIndex].UOM = "";
            }
        }
        StateHasChanged();
    }

    public void SelectUOMOption(option options, int rowIndex)
    {
        bool result = DropDownUOM.SelectOption(options, rowIndex);
        if (result == false)
        {
            Items[rowIndex].UOM = options.Value;
        }
    }

    private async Task OpenDialog()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            string GetStatus = db.QueryFirstOrDefault<string>("Select Status from RequestForQuotation where RFQNumber = @RFQNumber", new { RFQNumber = rfq.RFQNumber });

            if (GetStatus == PurchaseStatuses.Cancelled)
            {
                Snackbar.Clear();
                Snackbar.Add("This Request For Quotation has already been Cancelled", Severity.Error);
                return;
            }

        }
        var options = new DialogOptions { ClassBackground = "dialog" };
        var result = await DialogService.Show<Dialog>("Cancel Request for Quotation", options).Result;

        if (result.Data is bool && (bool)result.Data)
        {
            Cancel();
        }
    }

    public void Cancel()
    {
        try
        {
            CancelAll cancelall = new CancelAll();
            cancelall.ID = rfq.RFQNumber;
            cancelall.type = "Request For Quotation";
            crud.CRD(cancelall, "CancelAll");
            ToggleApproval();
        }
        catch (Exception ex)
        {

        }
    }

    private void CreateQuotation()
    {
        IsVisible = true;
    }

    public void NavigateUOM()
    {
        NavigationManager.NavigateTo("/uom/new-uom", forceLoad: true);
    }

    public void NavigateVendor()
    {
        NavigationManager.NavigateTo($"/vendors/new-vendor", forceLoad: true);
    }
}
