@page "/stock-entry/new-stock-entry"
@page "/stock-entry/{EntryID?}"

@inject CRUD crud;
@layout AdminLayout;
@inject Stock stock;
@inject Select select;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;
@inject SingleDropDown singledropdown;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<div class="row p-3 align-items-center">
    <div class="col-6">
        <h3>
            @header
            @if (IsSaving)
            {
                <MudChip Variant="Variant.Text" Color="Color.Warning">Not Saved</MudChip>
            }
            @if (IsDraft)
            {
                <MudChip Variant="Variant.Text" Color="Color.Error">Draft</MudChip>
            }
            @if (IsSubmitted)
            {
                <MudChip Variant="Variant.Text" Color="Color.Success">Submitted</MudChip>
            }
            @if (IsCancelled)
            {
                <MudChip Variant="Variant.Text" Color="Color.Error">Cancelled</MudChip>
            }
        </h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        @if (!IsSubmitted && !IsCancelled)
        {
            <button type="submit" class="btn btn-primary m-1 rounded-3 text-sm-center" @onclick="SavePR">
                @GetSubmitButtonText()
            </button>
        }
        @if (!IsCancelled && IsSubmitted)
        {
            <button type="reset" class="btn btn-danger m-1 rounded-3 text-sm-center" @onclick="OpenDialog">
                Cancel
            </button>
        }
    </div>
</div>

<div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
    <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
        <div class="col-md-6" hidden="@DisplayPR">
            <label class="form-label">Stock Entry ID</label>
            <input type="text" class="form-control" @bind="stock.EntryID" hidden>
        </div>
        <div class="col-md-6">
            <label class="form-label">Stock Entry Type</label>
            <select class="form-select" aria-label="Stock Entry Type" @bind="stock.Type">
                <option value=""></option>
                <option value="Goods Receipt">Goods Receipt</option>
                <option value="Goods Issue">Goods Issue</option>
            </select>
        </div>
    </form>
</div>

<div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
    <h5>Items</h5>
    <form class="row g-3" @oninput="HandleFormInput" autocomplete="off" style="overflow-x: @(isMobile? "scroll" : "")">
        <table class="table size table-hover">
            <thead>
                <tr>
                    <th class="col col-auto" style="width: 50px;">
                        No.
                    </th>
                    <th class="col col-auto" style="min-width:150px">
                        Item
                    </th>
                    <th class="col col-auto" style="width: 70px; min-width: 70px;">
                        Quantity
                    </th>
                    <th class="col col-auto" style="width: 150px; min-width: 150px;">
                        Basic Rate
                    </th>
                </tr>
            </thead>
            <tbody id="table-body">
                @for (int index = 0; index < Items.Count; index++)
                {
                    var item = Items[index];
                    item.RowID = index + 1;
                    DropDownItem.ListItems.Add(new BindDropdown { IsDropdownOpen = false });

                    var rowIndex = item.RowID - 1;
                    <tr>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" class="me-1" @bind="item.Selected" hidden="@ReadonlyHidden" />
                                <b>@(index + 1)</b>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown" id="dropdown" @onkeydown="e => DropDownItem.CloseDropdown(e, rowIndex)">
                                <input type="text" id="Item" readonly="@ReadonlyHidden" @onclick="() => DropDownItem.ToggleDropdown(rowIndex)" @bind="ItemName[rowIndex]"
                                       placeholder="Select an Item" class="w-100 text-start btn dropdown-toggle bg-white border" @oninput="e => FilterItemOptions(e, rowIndex)" />
                                <ul class="dropdown-menu w-100" id="ul" style="position: @(isMobile? "relative" : ""); max-height: 200px; overflow-y: auto; display: @(DropDownItem.ListItems[rowIndex].IsDropdownOpen ? "block" : "none");"
                                    aria-labelledby="dropdownMenuButton" hidden="@ReadonlyHidden">
                                    <li>
                                        @if (DropDownItem.ListItems[rowIndex].FilteredOptions != null)
                                        {
                                            @foreach (var option in DropDownItem.ListItems[rowIndex].FilteredOptions)
                                            {
                                                <a class="dropdown-item" bind="@item.ItemID" @onclick="() => SelectItemOption(option, rowIndex)">@option.Text<br /><label style="font-size: 12px;">@option.Type</label></a>
                                                <hr class="m-1 border-primary" />
                                            }
                                        }
                                        <button @onclick="NavigateItem" class="text-info" hidden="@ReadonlyHidden"><i class="bi bi-plus h5 ms-2 m-1" />Create a new Item</button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td><input type="text" inputmode="numeric" id="quantity" min="1" class="form-control" @bind="item.Quantity" readonly="@ReadonlyHidden" /></td>
                        <td><input type="text" inputmode="numeric" class="form-control" id="quantity" @bind="item.Rate" readonly="@ReadonlyHidden" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
    <div class="col-12 d-flex justify-content-start p-0">
        <button class="btn btn-primary rounded-3 me-2" @onclick="AddRow" hidden="@ReadonlyHidden">Add Row</button>
        <button class="btn btn-danger rounded-3" style="display: @(IsAnyItemSelected ? "block" : "none")" @onclick="DeleteRow" hidden="@ReadonlyHidden">Delete</button>
    </div>
</div>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.style.display = (dropdownMenu.style.display === "block") ? "none" : "block";
    }
    $('#quantity').on('input', function () {
        debugger;
        var inputValue = $(this).val();
        var nonNumberRegex = /[^0-9]|[-]{2,}/g;

        if (nonNumberRegex.test(inputValue)) {
            $(this).val(inputValue.replace(nonNumberRegex, ''));
        }
    });
    $('#quantity').on('paste', function () {
        debugger;
        var inputValue = $(this).val();
        var nonNumberRegex = /[^0-9]|[-]{2,}/g;

        if (nonNumberRegex.test(inputValue)) {
            $(this).val(inputValue.replace(nonNumberRegex, ''));
        }
    });
</script>

@code {
    [Parameter]
    public string? EntryID { get; set; }

    string? DeviceType { get; set; }
    string header = "Create Stock Entry";

    bool IsDraft = false;
    bool IsSaving = true;
    bool DisplayPR = true;
    bool isMobile = false;
    bool IsSubmitted = false;
    bool IsCancelled = false;
    bool IsAnyItemSelected => Items.Any(item => item.Selected);
    bool ReadonlyHidden { get { return IsCancelled || IsSubmitted; } }

    DropDown DropDownItem = new DropDown();

    List<int> IsDelete = new List<int>();
    List<Stock> Items = new List<Stock>();
    List<string> ItemName = new List<string>();

    protected override async void OnInitialized()
    {
        DeviceType = await JSRuntime.InvokeAsync<string>("detectDeviceType");
        if (DeviceType == "Mobile") isMobile = true;
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            if (EntryID != null)
            {
                stock = db.QueryFirstOrDefault<Stock>("select * from StockEntries where EntryID = @EntryID", new { EntryID = EntryID });
                Items = db.Query<Stock>("Select * from StockEntries where EntryID = @EntryID", new { EntryID = EntryID }).ToList();
                ItemName = db.Query<string>("SELECT I1.ItemName FROM StockEntries SE INNER JOIN Items I1 ON SE.ItemID = I1.ItemCode WHERE SE.EntryID = @EntryID", new { EntryID = EntryID }).ToList();
                if (stock == null || Items.Count == 0)
                    NavigationManager.NavigateTo("/stock-entry/");

                DisplayPR = false;
                header = stock.Type;
                if (stock.Status == PurchaseStatuses.Submitted)
                {
                    IsSubmitted = true;
                    IsSaving = false;
                }
                else if (stock.Status == PurchaseStatuses.Draft)
                {
                    IsDraft = true;
                    IsSaving = false;
                }
                else if (stock.Status == PurchaseStatuses.Cancelled)
                {
                    IsCancelled = true;
                    IsSaving = false;
                }
            }
            else
            {
                AddRow();
            }

            DropDownItem.Options = db.Query<Option>("select ItemCode as Value, ItemName as Text, ItemType as Type from Items").ToList();
        }
        StateHasChanged();

        base.OnInitialized();
    }

    public string createPurchase()
    {
        try
        {
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                string validate = ValidateSE();
                if (validate != null)
                {
                    return validate;
                }

                header = stock.Type;

                if (IsSaving)
                {
                    stock.Status = ProductionStatus.Draft;
                }
                else if (IsDraft)
                {
                    stock.Status = ProductionStatus.Submitted;
                }

                OutputClass output = new OutputClass();
                output = crud.CRD2(stock, "Manage_StockEntry", outputMessage: true, errorMessage: true);

                if (output.ErrorMessage != null)
                {
                    return output.ErrorMessage;
                }
                else
                {
                    stock.EntryID = output.Output;
                }

                ToggleApproval();

                if (EntryID == null)
                {
                    NavigationManager.NavigateTo($"/stock-entry/{stock.EntryID}", forceLoad: true);
                }

                if (IsDraft)
                {
                    return "Entry Saved Successfully";
                }

                else if (IsSubmitted)
                {
                    return "Stock Entry Submitted Successfully";
                }

                else
                {
                    IsDraft = false;
                    return "Error in saving request";
                }
            }
        }
        catch (Exception ex)
        {
            return ex.Message;
        }
    }

    public string ValidateSE()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            if (stock.EntryID != null)
            {
                string? GetStatus = db.QueryFirstOrDefault<string?>("Select Status from Stock where EntryID = @EntryID", new { EntryID = stock.EntryID });
                if (GetStatus != null)
                {
                    if (GetStatus == PurchaseStatuses.Submitted && !IsCancelled) return "Stock Entry has already been submitted changes cannot be done";

                    if (GetStatus == PurchaseStatuses.Cancelled && !IsCancelled) return "This Stock Entry has already been Cancelled";
                }
                else
                {
                    return "Stock Entry ID does not exist";
                }
            }

            foreach (var PR in Items)
            {
                if (string.IsNullOrWhiteSpace(ItemName[PR.RowID - 1])) return $"Please Enter Item on Row: {PR.RowID}";

                if (PR.Quantity <= 0) return $"Row {PR.RowID}: Quantity cannot be less than or equal to 0";

                if (PR.Rate <= 0 || string.IsNullOrWhiteSpace((PR.Rate).ToString())) return $"Row {PR.RowID}: Rate cannot be less than or equal to 0";

                if (!DropDownItem.Options.Any(option => option.Text == ItemName[PR.RowID - 1])) return $"Item on Row: {PR.RowID} does not exist";
            }

            return null;
        }
    }

    public void SavePR()
    {
        string notification = createPurchase();
        if (notification.Contains("Successfully"))
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Success);
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Error);
        }
    }

    private string GetSubmitButtonText()
    {
        if (IsDraft)
        {
            return "Submit";
        }
        else
        {
            return "Save";
        }
    }

    private void ToggleApproval()
    {
        if (IsDraft)
        {
            IsDraft = false;
            IsSubmitted = true;
            IsSaving = false;
        }
        else if (IsSaving)
        {
            IsDraft = true;
            IsSaving = false;
        }
        else if (IsSubmitted)
        {
            IsCancelled = true;
            IsSaving = false;
            IsSubmitted = false;
        }
    }

    private void AddRow()
    {
        HandleFormInput();
        Items.Add(new Stock
            {
                Rate = 0,
                Quantity = 1
            });
        ItemName.Add("");
    }

    private void DeleteRow()
    {
        for (int i = Items.Count - 1; i >= 0; i--)
        {
            if (Items[i].Selected)
            {
                if (Items[i].RowID != 0)
                {
                    IsDelete.Add(Items[i].RowID);
                }
                Items.RemoveAt(i);
                ItemName.RemoveAt(i);
                DropDownItem.ListItems.RemoveAt(i);
            }
        }
    }

    private void HandleFormInput()
    {
        if (IsDraft)
        {
            IsSaving = true;
            IsDraft = false;
            GetSubmitButtonText();
            StateHasChanged();
        }
    }

    public void FilterItemOptions(ChangeEventArgs e, int rowIndex)
    {
        bool result = DropDownItem.FilterOptions(e, rowIndex);
        if (result == true)
        {
            if (!DropDownItem.ListItems[rowIndex].FilteredOptions.Any(option => option.Text == Items[rowIndex].ItemID))
            {
                Items[rowIndex].ItemID = "";
            }
        }
        StateHasChanged();
    }

    private void SelectItemOption(Option options, int rowIndex)
    {
        bool result = DropDownItem.SelectOption(options, rowIndex);
        if (result == false)
        {

            ItemName[rowIndex] = options.Text;
            Items[rowIndex].ItemID = options.Value;
        }
    }

    private async Task OpenDialog()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            string? GetStatus = db.QueryFirstOrDefault<string?>("Select Status from Stock where EntryID = @EntryID", new { EntryID = stock.EntryID });
            if (GetStatus != null)
            {
                if (GetStatus == PurchaseStatuses.Cancelled)
                {
                    Snackbar.Clear();
                    Snackbar.Add("This Stock Entry has already been Cancelled", Severity.Error);
                    return;
                }
            }
            var options = new DialogOptions { ClassBackground = "dialog" };
            var result = await DialogService.Show<Dialog>("Cancel Stock Entry", options).Result;

            if (result.Data is bool && (bool)result.Data)
            {
                Cancel();
            }
        }
    }

    public void Cancel()
    {
        try
        {
            CancelAll cancelall = new CancelAll();
            cancelall.ID = stock.EntryID;
            cancelall.type = "Stock Entry";
            crud.CRD(cancelall, "CancelAll");
            ToggleApproval();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    public void NavigateItem()
    {
        NavigationManager.NavigateTo($"/item/new-item", forceLoad: true);
    }
}