@page "/vendorquotation"

@inject CRUD crud;
@layout AdminLayout;
@inject Quotation vq;
@inject Select select;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info"
                           Style="text-transform:none; margin-bottom: 20px;" OnClick="Create"
                           Size="Size.Large">Create</MudButton>
                @if (selectedItems.Any())
                {
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.DeleteOutline"
                               Style="text-transform:none; margin-bottom: 20px;" Color="Color.Error" OnClick="DeleteSelectedItems"
                               Size="Size.Large">Delete</MudButton>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <MudTable @ref="_table" T="Quotation" Items="@Elements" MultiSelection="true"
                      @bind-SelectedItems="selectedItems" Hover="true" Style="border-radius:20px" OnRowClick="@OnRowClick"
                      Virtualize="true" Filter="new Func<Quotation,bool>(FilterFunc1)"
                      @bind-SelectOnRowClick="@_selectOnRowClick" Elevation="4">

                <ToolBarContent>
                    <MudText Typo="Typo.h6">Vendor Quotations</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                    </MudTextField>
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Quotation ID</MudTh>
                    <MudTh>Title</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Date</MudTh>
                    @* <MudTh>Valid Till</MudTh> *@
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Quotation ID">@context.QuotationID</MudTd>
                    <MudTd DataLabel="Title">@context.QuotationName</MudTd>
                    <MudTd DataLabel="Status">@context.Status</MudTd>
                    <MudTd DataLabel="Date">@context.DocumentDate.ToString("MM/dd/yyyy")</MudTd>
                    @* <MudTd DataLabel="Valid Till">@context.</MudTd> *@
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </div>
    </div>
</div>

@code {
    private string searchString1 = "";
    private MudTable<Quotation> _table;
    private bool _selectOnRowClick = true;
    private IEnumerable<Quotation> Elements = new List<Quotation>();
    private HashSet<Quotation> selectedItems = new HashSet<Quotation>();

    protected override async Task OnInitializedAsync()
    {
        using SqlConnection db = new SqlConnection(con.connectionString);
        Elements = await db.QueryAsync<Quotation>("SELECT * FROM Quotation");
    }

    void OnRowClick(TableRowClickEventArgs<Quotation> args)
    {
        vq.QuotationID = args.Item.QuotationID;
        NavigationManager.NavigateTo($"/vendorquotation/{vq.QuotationID}");
    }

    private bool FilterFunc1(Quotation element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Quotation element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (element.QuotationName.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if ($"{element.QuotationID} {element.TotalAmount}".Contains(searchString)) return true;

        return false;
    }

    private void Create()
    {
        NavigationManager.NavigateTo($"/vendorquotation/new-vendor-quotation", forceLoad: true);
    }

    private void DeleteSelectedItems()
    {
        if (selectedItems == null || !selectedItems.Any())
        {
            Snackbar.Add("No items selected to delete", Severity.Info);
            return;
        }

        var itemsToDelete = selectedItems.Where(item => item.Status == "Draft" || item.Status == "Cancelled").ToList();
        if (itemsToDelete.Count == 0)
        {
            Snackbar.Add("No items with status 'Draft' or 'Cancelled' to delete", Severity.Info);
            return;
        }

        try
        {
            foreach (var item in itemsToDelete)
            {
                OutputClass output = new OutputClass();
                output = crud.CRD2(item, "CreateQuotation", IsDelete: true, outputMessage: true, errorMessage: true);
                if (output.ErrorMessage != null)
                {
                    Snackbar.Add(output.ErrorMessage, Severity.Error);
                    return;
                }
            }

            Elements = Elements.Where(e => !itemsToDelete.Any(d => d.QuotationID == e.QuotationID)).ToList();
            Snackbar.Add($"{itemsToDelete.Count} items deleted", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Error deleting items: " + ex.Message, Severity.Error);
        }

        selectedItems.Clear();
        StateHasChanged();
    }
}