@page "/goodissue"

@using static MudBlazor.CategoryTypes
@using SharedClass.Components.Layout
@using SharedClass.Components.Model
@using SharedClass.Components.Data
@using Microsoft.Data.SqlClient
@using System.Globalization
@using System.Net.Http.Json
@using Dapper

@inject CRUD crud;
@layout AdminLayout;
@inject Select select;
@inject Delete delete;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject GoodsIssue goodsissue;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info" Style="text-transform:none; margin-bottom: 20px;"
                           Href="/goodissue/new-goods-issue" Size="Size.Large">Create</MudButton>
                @if (selectedItems.Any())
                {
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.DeleteOutline" Style="text-transform:none; margin-bottom: 20px;"
                               Color="Color.Error" OnClick="DeleteSelectedItems" Size="Size.Large">Delete</MudButton>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <MudTable @ref="_table" T="GoodsIssue" Items="@Elements" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="true" Style="border-radius:20px"
                      OnRowClick="@OnRowClick" Virtualize="true" Filter="new Func<GoodsIssue,bool>(FilterFunc1)" @bind-SelectOnRowClick="@_selectOnRowClick" Elevation="4">

                <ToolBarContent>
                    <MudText Typo="Typo.h6">Good Receipts</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Goods Issue ID</MudTh>
                    <MudTh>Title</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Total</MudTh>
                    <MudTh>Document Date</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Goods Issue ID">@context.GoodsIssueID</MudTd>
                    <MudTd DataLabel="Title">@context.GoodsIssueName</MudTd>
                    <MudTd DataLabel="Status">@context.Status</MudTd>
                    <MudTd DataLabel="Total Amount">@context.TotalAmount</MudTd>
                    <MudTd DataLabel="Document Date">@context.DocumentDate.ToString("MM/dd/yyyy")</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </div>
    </div>
</div>

@code {
    private string searchString1 = "";
    private MudTable<GoodsIssue> _table;
    private bool _selectOnRowClick = true;
    private IEnumerable<GoodsIssue> Elements = new List<GoodsIssue>();
    private HashSet<GoodsIssue> selectedItems = new HashSet<GoodsIssue>();

    protected override async Task OnInitializedAsync()
    {
        using SqlConnection db = new SqlConnection(con.connectionString);
        Elements = await db.QueryAsync<GoodsIssue>("SELECT * FROM GoodIssue");
    }

    void OnRowClick(TableRowClickEventArgs<GoodsIssue> args)
    {
        goodsissue.GoodsIssueID = args.Item.GoodsIssueID;
        NavigationManager.NavigateTo($"/goodissue/{goodsissue.GoodsIssueID}");
    }

    private bool FilterFunc1(GoodsIssue element) => FilterFunc(element, searchString1);

    private bool FilterFunc(GoodsIssue element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (element.GoodsIssueName.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if ($"{element.GoodsIssueID} {element.TotalAmount} {element.DocumentDate}".Contains(searchString)) return true;

        return false;
    }

    private void DeleteSelectedItems()
    {
        if (selectedItems == null || !selectedItems.Any())
        {
            Snackbar.Add("No items selected to delete", Severity.Info);
            return;
        }

        var itemsToDelete = selectedItems.Where(item => item.Status == "Draft" || item.Status == "Cancelled").ToList();
        if (itemsToDelete.Count == 0)
        {
            Snackbar.Add("No items with status 'Draft' or 'Cancelled' to delete", Severity.Info);
            return;
        }

        try
        {
            foreach (var item in itemsToDelete)
            {
                OutputClass output = new OutputClass();
                output = crud.CRD2(item, "CreateGoodIssue", IsDelete: true, outputMessage: true);
                if (output.ErrorMessage != null)
                {
                    Snackbar.Add(output.ErrorMessage, Severity.Error);
                    return;
                }
            }

            Elements = Elements.Where(e => !itemsToDelete.Any(d => d.GoodsIssueID == e.GoodsIssueID)).ToList();
            Snackbar.Add($"{itemsToDelete.Count} items deleted", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Error deleting items: " + ex.Message, Severity.Error);
        }

        selectedItems.Clear();
        StateHasChanged();
    }
}