@page "/selling";

@layout AdminLayout;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<h4>Quick Access</h4>
<div class="row m-auto">
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.Bolt" Href="/item" Style="border-radius:10px">
                Items
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.AdUnits" Href="/uom" Style="border-radius:10px">
                UOM
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestQuote" Href="/stock-entry" Style="border-radius:10px">
                Stock Entry
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Filled.Person" Href="/customers" Style="border-radius:10px">
                Customer
            </MudListItem>
        </MudList>
    </MudPaper>
</div>
<h4>Forms</h4>
<div class="row m-auto">
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/purchaserequisition" Style="border-radius:10px">
                Purchase Requisition
            </MudListItem>
        </MudList>
    </MudPaper>
    
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/bulk-order" Style="border-radius:10px">
                Bulk Orders
            </MudListItem>
        </MudList>
    </MudPaper>

    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/saleorder" Style="border-radius:10px">
                Sales Order
            </MudListItem>
        </MudList>
    </MudPaper>

    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/goodissue" Style="border-radius:10px">
                Goods Issue
            </MudListItem>
        </MudList>
    </MudPaper>

    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/saleinvoice" Style="border-radius:10px">
                Sales Invoice
            </MudListItem>
        </MudList>
    </MudPaper>
</div>

@code {

}