@using SharedClass.Components.Pages.AdminView;
@using SharedClass.Components.Data;
@using Microsoft.Data.SqlClient;
@using Dapper;

@inject Login login;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

@inherits LayoutComponentBase;

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

@if (isLoading)
{
    <MudLayout>
        <div style="display:flex;">
            <MudAppBar Elevation="0" Class="bg-transparent" Style="display:flex; color:black; backdrop-filter: blur(8px);">
                <MudIconButton Icon="@(open ? Icons.Material.Outlined.Close : Icons.Material.Outlined.Menu)"
                               Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudImage Src="_content/SharedClass/Images/techlogo.png" Style="width: 200px" />
            </MudAppBar>
            <MudDrawer @bind-Open="@open" Breakpoint="@breakpoint" Elevation="1" Variant="@DrawerVariant.Responsive"
                       PreserveOpenState="@preserveOpenState"
                       Style="border-top-right-radius: 15px; border-bottom-right-radius:15px; backdrop-filter: blur(8px);">
                <MudNavMenu Class="mb-5">
                    <MudNavLink Match="NavLinkMatch.All" Href="/dashboard">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.SpaceDashboard"
                                   Style="background-color:transparent;" Color="Color.Info">Dashboard</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/buying">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Inventory2"
                                   Style="background-color:transparent;" Color="Color.Info">Inventory</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/selling">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Sell"
                                   Style="background-color:transparent;" Color="Color.Info">Selling</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/production">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Create"
                                   Style="background-color:transparent;" Color="Color.Info">Production</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/returns">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.KeyboardReturn"
                                   Style="background-color:transparent;" Color="Color.Info">Returns</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/pos">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.PointOfSale"
                                   Style="background-color:transparent;" Color="Color.Info">Point of Sale</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/signup">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.VerifiedUser"
                                   Style="background-color:transparent;" Color="Color.Info">Create User</MudButton>
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" OnClick="Logout">
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Logout" OnClick="Logout"
                                   Style="background-color:transparent;" Color="Color.Error">Sign Out</MudButton>
                    </MudNavLink>
                </MudNavMenu>
            </MudDrawer>
        </div>
        <MudMainContent Class="p-4" Style="margin-top:50px; max-width: 100vw; overflow-x: hidden;">
            <MudThemeProvider />
            <MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true"
                               DisableBackdropClick="false" NoHeader="false" Position="DialogPosition.Center" CloseOnEscapeKey="true" />
            <MudSnackbarProvider />
            @Body
        </MudMainContent>
    </MudLayout>
}

@code {
    bool open = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;

    protected bool isLoading = false;
    protected bool Authorized { get; set; }
    protected bool isAuthorized { get; set; }

    protected override async void OnInitialized()
    {
        try
        {
            if (await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "Authorized") && await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "Username"))
            {
                using (SqlConnection db = new SqlConnection(con.connectionString))
                {
                    string User = await _protectedLocalStore.GetLocalAsync<string>("Username");

                    Authorized = db.QuerySingleOrDefault<bool>("SELECT Authorized FROM Users WHERE Username = @Username", new { Username = User });
                    isAuthorized = await _protectedLocalStore.GetLocalAsync<bool>("Authorized");
                    if (isAuthorized && Authorized)
                    {
                        isLoading = true;
                    }
                    else
                    {
                        isLoading = false;
                        navigationManager.NavigateTo("/adminlogin");
                        Snackbar.Clear();
                        Snackbar.Add("Not Authorized", Severity.Error);
                    }
                }
            }
            else
            {
                isLoading = false;
                navigationManager.NavigateTo("/adminlogin");
                Snackbar.Clear();
                Snackbar.Add("Not Authorized", Severity.Error);
            }
            StateHasChanged();
            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void ToggleDrawer()
    {
        open = !open;
    }

    private async void Logout()
    {
        await _protectedLocalStore.SetLocalAsync("Authorized", false);
        string User = await _protectedLocalStore.GetLocalAsync<string>("Username");
        await login.LogOut(User);
        await _protectedLocalStore.SetLocalAsync("Username", "");
        Snackbar.Clear();
        Snackbar.Add("Logged Out", Severity.Error);
        navigationManager.NavigateTo("/");
    }
}