@using BlazorBootstrap
@using Radzen.Blazor
@using SharedClass.Components.Pages.AdminView
@inject NavigationManager navigationManager
@inherits LayoutComponentBase

<RadzenLayout class="bg-white">
    <RadzenHeader class="bg-transparent text-black shadow-sm" Style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" class="text-black" Style="font-size:20px" />
            <div class="mx-auto">
                <RadzenImage Path="_content/SharedClass/Images/techlogo.png" Style="width: 200px; align-content:center;" />
            </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" Style="position: absolute; z-index: 3; backdrop-filter: blur(8px); border-top-right-radius: 30px; border-bottom-right-radius: 30px;" class="bg-opacity-50 shadow-lg">
        <RadzenStack AlignItems="AlignItems.End" Class="rz-p-2">
            <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
        </RadzenStack>
        <RadzenPanelMenu class="bg-transparent rz-border-radius-8">
            <RadzenPanelMenuItem Text="Home" Icon="home" Style="color:rebeccapurple; font-size: 15px" Click="@(args => Navigate("/dashboard"))" />
            <RadzenPanelMenuItem Text="Dashboard 2" Icon="home" Style="color:rebeccapurple; font-size: 15px" Click="@(args => Navigate("/dashboard2"))" />
            <RadzenPanelMenuItem Text="Sign Out" Icon="lock" Style="color:rebeccapurple; font-size: 15px" Click="@(args => Navigate("/"))" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <main class="p-1">
            <RadzenContextMenu />
            <RadzenDialog />
            <RadzenNotification />
            <RadzenTooltip />
            @Body
        </main>
    </RadzenBody>
    @if (sidebarExpanded)
    {
        <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
    }
</RadzenLayout>

@code {
    bool sidebarExpanded = false;

    void Navigate(string nav)
    {
        navigationManager.NavigateTo(nav);
    }
}