@inject SharedClass.Components.Data.Select select;
@inject SharedClass.Components.Data.Insert insert;
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar;

<section>
    <div class="container py-5">
        @if (Cases != null)
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Cases)
                {
                    <div class="col mb-4">
                        <div class="card text-black">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand</h5>
                                <h5 class="card-title">@values.Model</h5>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Form Factor</span><span>@values.Form_Factor</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Material</span><span>@values.Material</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Color</span><span>@values.Color</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btnpc btn-primary m-1 rz-ripple" @onclick="() => Select(values)">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>


@code {
    public int Id { get; set; }
    public string Brand { get; set; }
    public string Model { get; set; }
    public string Form_Factor { get; set; }
    public string Material { get; set; }
    public string Color { get; set; }

    private IEnumerable<Case> Cases;

    protected override async Task OnInitializedAsync()
    {
        Cases = await select.GetCaseAsync();
    }
    private async Task Select(Case selectedCase)
    {
        string component = "[Gaming Case]";
        string combinedValue = $"{selectedCase.Brand} {selectedCase.Model}";
        await insert.InsertIntoCustomBuilt(combinedValue, component, JSRuntime);
        Snackbar.Clear();
        Snackbar.Add("Selection Saved", Severity.Success);
    }
}
