@inject SharedClass.Components.Data.Select select;
@inject SharedClass.Components.Data.Insert insert;
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar;

<section>
    <div class="container py-5">
        @if (Coolers != null)
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Coolers)
                {
                    <div class="col mb-4">
                        <div class="card text-black">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand</h5>
                                <h5 class="card-title">@values.Model</h5>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Type</span><span>@values.Type</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Tdp</span><span>@values.Tdp</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Socket</span><span>@values.Socket</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btnpc btn-primary m-1 rz-ripple" @onclick="() => Select(values)">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>


@code {
    public int Id { get; set; }
    public string Brand { get; set; }
    public string Model { get; set; }
    public string Type { get; set; }
    public int Tdp { get; set; }
    public string Socket { get; set; }

    private IEnumerable<Cooler> Coolers;

    protected override async Task OnInitializedAsync()
    {
        Coolers = await select.GetCoolerAsync();
    }
    private async Task Select(Cooler selectedCooler)
    {
        string component = "Cooler";
        string combinedValue = $"{selectedCooler.Brand} {selectedCooler.Model}";
        await insert.InsertIntoCustomBuilt(combinedValue, component, JSRuntime);
        Snackbar.Clear();
        Snackbar.Add("Selection Saved", Severity.Success);
    }
}
