@using static SharedClass.Components.Pages.CustomPC.Motherboard

@inject CRUD crud;
@inject Select select;
@inject Connection con;
@inject AppState AppState;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;

<section>
    <div class="container py-5">
        @if (Memories != null && Memories.Any())
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Memories)
                {
                    <div class="col mb-4">
                        <div class="card text-black" style="border-radius:20px;">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand @values.ItemName</h5>
                                <h6 class="card-title">Rs. @(ItemRates.ContainsKey(values.ItemCode) ? ItemRates[values.ItemCode]?.ToString() ?? "N/A" : "Loading...")</h6>
                                @if (!string.IsNullOrEmpty(values.Description))
                                {
                                    <div>
                                        <div class="d-flex justify-content-center" @onclick="() => OnButtonClicked(values.Description)" style="cursor: pointer;">
                                            <h6><span>Product Page</span></h6>
                                        </div>
                                    </div>
                                }
                                @if (isBulk)
                                {
                                    <h6>Select Quantity: @(quantities.ContainsKey(values.ItemCode) ? quantities[values.ItemCode].ToString() : "0")</h6>
                                    <p>
                                        @if (quantities.ContainsKey(values.ItemCode))
                                        {
                                            <MudSlider @bind-Value="quantities[values.ItemCode]" Min="20" Max="50" Color="Color.Dark" ValueLabel="true" />
                                        }
                                        else
                                        {
                                            <MudSlider Value="20" Min="20" Max="50" Color="Color.Dark" ValueLabel="true" Disabled="true" />
                                        }
                                    </p>
                                    <h6>Total: @(ItemRates.ContainsKey(values.ItemCode) && quantities.ContainsKey(values.ItemCode) ? (ItemRates[values.ItemCode] * quantities[values.ItemCode]).ToString() : "0")</h6>
                                    <div>
                                        <button class="btn btnpc m-1" style="background-color:#A687CB; color:white"
                                                @onclick="() => Order(values, quantities.ContainsKey(values.ItemCode) ? quantities[values.ItemCode] : 0)">
                                            Order
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <h6>Select Quantity: @(itemQuantities.ContainsKey(values.ItemCode) ? itemQuantities[values.ItemCode] : 1)</h6>
                                    <p>
                                        @if (itemQuantities.ContainsKey(values.ItemCode))
                                        {
                                            <MudSlider @bind-Value="itemQuantities[values.ItemCode]" Min="1" Max="4" Color="Color.Dark" ValueLabel="true" />
                                        }
                                        else
                                        {
                                            <MudSlider Value="1" Min="1" Max="4" Color="Color.Dark" ValueLabel="true" Disabled="true" />
                                        }
                                    </p>
                                    <h6>Total: @(ItemRates.ContainsKey(values.ItemCode) && itemQuantities.ContainsKey(values.ItemCode) ? (ItemRates[values.ItemCode] * itemQuantities[values.ItemCode]).ToString() : "0")</h6>
                                    <div>
                                        <button class="btn btnpc m-1" style="background-color:#A687CB; color:white"
                                                @onclick="() => Select(values)">
                                            Select
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

<script>
    function openInNewTab(url) {
        window.open(url, '_blank');
    }
</script>

@code {
    [Parameter]
    public bool isBulk { get; set; }

    [Parameter]
    public string? userid { get; set; }

    [Parameter]
    public string? Username { get; set; }

    bool isMobile = false;

    string? DeviceType { get; set; }

    IEnumerable<ItemClass>? Memories;

    Dictionary<string, int> quantities = new Dictionary<string, int>();

    Dictionary<string, int> itemQuantities = new Dictionary<string, int>();

    Dictionary<string, decimal?> ItemRates = new Dictionary<string, decimal?>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                if (isBulk)
                {
                    Memories = await select.GetItemsAsync("Memory");
                }
                else
                {
                    if (!string.IsNullOrEmpty(AppState.Motherboard) && !string.IsNullOrEmpty(AppState.Processor))
                    {
                        Memories = db.Query<ItemClass>("select distinct it.* from ItemCompability inner join Items it on ItemCode = ItemID where CompatibilityID in ('" + AppState.Motherboard + "','" + AppState.Processor + "') and Status = 'Enabled' and ItemType = 'Memory' union SELECT it.* FROM Items it LEFT JOIN ItemCompability ic ON it.ItemCode = ic.ItemID WHERE ic.ItemID IS NULL and ItemType = 'Memory' and Status = 'Enabled'").ToList();
                    }
                    else
                    {
                        Snackbar.Clear();
                        Snackbar.Add("Please reselect other components", Severity.Info);
                    }
                }
                if (Memories.Any())
                {
                    foreach (var item in Memories)
                    {
                        var stock = await select.GetStockDataAsync(item.ItemCode);
                        if (stock != null && stock.Any())
                        {
                            ItemRates[item.ItemCode] = stock.FirstOrDefault()?.SellingPrice;
                        }
                        else
                        {
                            ItemRates[item.ItemCode] = null;
                        }
                        quantities[item.ItemCode] = 20;

                        if (!string.IsNullOrEmpty((AppState.MemoryQuantity).ToString()) || AppState.MemoryQuantity > 1)
                        {
                            if (item.ItemCode == AppState.Memory)
                            {
                                itemQuantities[item.ItemCode] = AppState.MemoryQuantity;
                            }
                            else
                            {
                                itemQuantities[item.ItemCode] = 1;
                            }
                        }
                        else
                        {
                            itemQuantities[item.ItemCode] = 1;
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {

            Snackbar.Clear();
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task Select(ItemClass selectedMemory)
    {
        try
        {
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                if (AllComponentsSelected(AppState))
                {
                    List<string> selectedComponents = GetSelectedComponents(AppState);
                    bool isCompatible = await Data.Select.CheckCompatibilityAsync(db, selectedMemory.ItemCode, selectedComponents);

                    if (!isCompatible)
                    {
                        Snackbar.Clear();
                        Snackbar.Add("Selected Memory is not compatible with other components.", Severity.Error);
                        return;
                    }

                    if (AppState.Memory != selectedMemory.ItemCode)
                    {
                        if (!string.IsNullOrEmpty(AppState.Storage))
                        {
                            AppState.Storage = string.Empty;
                            AppState.StorageQuantity = 0;
                            AppState.GPU = string.Empty;
                            AppState.PSU = string.Empty;
                            AppState.Case = string.Empty;
                            AppState.Cooler = string.Empty;
                            Snackbar.Clear();
                            Snackbar.Add("Please reselect the storage, cooler, case, power supply, and graphics card.", Severity.Info);
                        }

                        AppState.Memory = selectedMemory.ItemCode;
                        AppState.MemoryQuantity = itemQuantities[selectedMemory.ItemCode];
                        Snackbar.Clear();
                        Snackbar.Add("Selection Saved", Severity.Success);
                    }
                    else
                    {
                        AppState.Memory = selectedMemory.ItemCode;
                        AppState.MemoryQuantity = itemQuantities[selectedMemory.ItemCode];
                        Snackbar.Clear();
                        Snackbar.Add("Selection Saved", Severity.Success);
                    }
                }
                else
                {
                    Snackbar.Clear();
                    Snackbar.Add("Please select all previous components.", Severity.Info);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Clear();
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    public static bool AllComponentsSelected(AppState appState)
    {
        return !string.IsNullOrEmpty(appState.Motherboard) &&
               !string.IsNullOrEmpty(appState.Processor);
    }

    public static List<string> GetSelectedComponents(AppState appState)
    {
        return new List<string>
        {
            appState.Motherboard,
            appState.Processor
        };
    }

    private async Task Order(ItemClass selected, int quantity)
    {
        try
        {
            if (isMobile) HapticFeedback.Default.Perform(HapticFeedbackType.LongPress);

            var cartItems = await Data.Select.RetrieveCartItems(userid);

            bool itemFound = false;
            for (int i = 0; i < cartItems.Count; i++)
            {
                if (cartItems[i].Code == selected.ItemCode)
                {
                    cartItems[i].Quantity = quantity;
                    itemFound = true;
                    break;
                }
            }

            if (!itemFound)
            {
                AppState.CartItemCount++;
                cartItems.Add(new Bulk { Code = selected.ItemCode, Quantity = quantity });
            }

            var serializedItems = JsonSerializer.Serialize(cartItems);

            var parameters = new DynamicParameters();
            parameters.Add("@UserID", userid);
            parameters.Add("@CartItemsJson", serializedItems);
            parameters.Add("@Action", "Save");

            var result = crud.CRD3(parameters, "ManageCartItems", CommandType.StoredProcedure, false, outputMessage: true, errorMessage: true);

            if (!string.IsNullOrEmpty(result.Output))
            {
                Snackbar.Add(result.Output, Severity.Success);
            }
            else if (result.ErrorMessage != null)
            {
                AppState.CartItemCount--;
                Snackbar.Add(result.ErrorMessage, Severity.Error);
            }
            else
            {
                AppState.CartItemCount--;
                Snackbar.Add("Failed to add to cart.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            if (isMobile) Vibration.Default.Vibrate();
            Snackbar.Add($"Error ordering item: {ex.Message}", Severity.Error);
        }
    }

    private async void OnButtonClicked(string link)
    {
        try
        {
            DeviceType = await JSRuntime.InvokeAsync<string>("detectDeviceType");
            if (DeviceType == "Mobile") isMobile = true;
            if (!isMobile)
            {
                await JSRuntime.InvokeVoidAsync("openInNewTab", link);
            }
            else
            {
                HapticFeedback.Default.Perform(HapticFeedbackType.LongPress);
                bool supportsUri = await Launcher.Default.CanOpenAsync(new Uri(link));

                if (supportsUri)
                {
                    await Launcher.Default.OpenAsync(new Uri(link));
                }
                else
                {
                    Snackbar.Add("Can't Open Link", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
