@inject SharedClass.Components.Data.Select select;
@inject SharedClass.Components.Data.Insert insert;
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar;

<section>
    <div class="container py-5">
        @if (Memories != null)
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Memories)
                {
                    <div class="col mb-4">
                        <div class="card text-black">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand</h5>
                                <h5 class="card-title">@values.Model</h5>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Capacity</span><span>@values.Capacity</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Speed</span><span>@values.Speed</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Cas Latency</span><span>@values.Cas_Latency</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btnpc btn-primary m-1 rz-ripple" @onclick="() => Select(values)">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>


@code {
    public int Id { get; set; }
    public string Brand { get; set; }
    public string Model { get; set; }
    public float Capacity { get; set; }
    public float Speed { get; set; }
    public int Cas_Latency { get; set; }

    private IEnumerable<Memory> Memories;

    protected override async Task OnInitializedAsync()
    {
        Memories = await select.GetMemoryAsync();
    }
    private async Task Select(Memory selectedMemory)
    {
        string component = "Memory";
        string combinedValue = $"{selectedMemory.Brand} {selectedMemory.Model}";
        await insert.InsertIntoCustomBuilt(combinedValue, component, JSRuntime);
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;
        Snackbar.Add("Selection Saved", Severity.Success);
    }
}
