@inject Select select;
@inject Connection con;
@inject AppState AppState;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;
@inject ProtectedLocalStorage _protectedLocalStore;

<section>
    <div class="container py-5">
        @if (Motherboards != null && Motherboards.Any())
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Motherboards)
                {
                    <div class="col mb-4">
                        <div class="card text-black" style="border-radius:20px;">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand @values.ItemName</h5>
                                <h6 class="card-title">Rs. @(ItemRates.ContainsKey(values.ItemCode) ? ItemRates[values.ItemCode]?.ToString() ?? "N/A" : "Loading...")</h6>
                                @if (!string.IsNullOrEmpty(values.Description))
                                {
                                    <div>
                                        <div class="d-flex justify-content-center" @onclick="() => OnButtonClicked(values.Description)" style="cursor: pointer;">
                                            <h6><span>Product Page</span></h6>
                                        </div>
                                    </div>
                                }
                                @if (isBulk)
                                {
                                    <h6>Select Quantity: @quantities[values.ItemCode]</h6>
                                    <p><MudSlider @bind-Value="quantities[values.ItemCode]" Min="20" Max="50" Color="Color.Dark" ValueLabel="true" /></p>
                                    <h6>Total: @(ItemRates[values.ItemCode] * quantities[values.ItemCode])</h6>
                                    <div>
                                        <button class="btn btnpc m-1" style="background-color:#A687CB; color:white"
                                                @onclick="() => Order(values, quantities[values.ItemCode])">
                                            Order
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <button class="btn btnpc m-1" style="background-color:#A687CB; color:white"
                                                @onclick="() => Select(values)">
                                            Select
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

<script>
    function openInNewTab(url) {
        window.open(url, '_blank');
    }
</script>

@code {
    [Parameter]
    public bool isBulk { get; set; }

    bool isMobile = false;
    string? DeviceType { get; set; }

    private Dictionary<string, int> quantities = new Dictionary<string, int>();

    private IEnumerable<ItemClass>? Motherboards;

    private Dictionary<string, decimal?> ItemRates = new Dictionary<string, decimal?>();

    protected override async Task OnInitializedAsync()
    {
        Motherboards = await select.GetItemsAsync("Motherboard");
        if (Motherboards.Any())
        {
            foreach (var item in Motherboards)
            {
                var stock = await select.GetStockDataAsync(item.ItemCode);
                ItemRates[item.ItemCode] = stock?.FirstOrDefault()?.Rate;
                quantities[item.ItemCode] = 20;
            }
        }
    }

    private async Task Select(ItemClass selectedMotherboard)
    {
        if (!string.IsNullOrEmpty(await _protectedLocalStore.GetLocalAsync<string>("Processor")))
        {
            await _protectedLocalStore.SetLocalAsync("Memory", "");
            await _protectedLocalStore.SetLocalAsync("Cooler", "");
            await _protectedLocalStore.SetLocalAsync("Storage", "");
            await _protectedLocalStore.SetLocalAsync("Processor", "");
            await _protectedLocalStore.SetLocalAsync("Gaming Case", "");
            await _protectedLocalStore.SetLocalAsync("Power Supply", "");
            await _protectedLocalStore.SetLocalAsync("Graphics Card", "");

            await _protectedLocalStore.SetLocalAsync("Motherboard", selectedMotherboard.ItemCode);

            Snackbar.Clear();
            Snackbar.Add("Please reselect other components", Severity.Info);
        }
        else
        {
            await _protectedLocalStore.SetLocalAsync("Motherboard", selectedMotherboard.ItemCode);
        }
        Snackbar.Add("Selection Saved", Severity.Success);
    }

    private async Task Order(ItemClass selected, int quantity)
    {
        try
        {
            var result = await _protectedLocalStore.GetLocalAsync<string>("BulkMotherboard");
            var orderedItems = string.IsNullOrEmpty(result) ? new List<Bulk>() : JsonSerializer.Deserialize<List<Bulk>>(result);
            bool itemFound = false;

            for (int i = 0; i < orderedItems.Count; i++)
            {
                if (orderedItems[i].Code == selected.ItemCode)
                {
                    orderedItems[i].Quantity = quantity;
                    Snackbar.Add("Quantity Updated.", Severity.Success);
                    itemFound = true;
                    break;
                }
            }

            if (!itemFound)
            {
                orderedItems.Add(new Bulk { Code = selected.ItemCode, Quantity = quantity });
                AppState.CartItemCount++;
                Snackbar.Add("Added to cart.", Severity.Success);
            }

            var serializedItems = JsonSerializer.Serialize(orderedItems);
            await _protectedLocalStore.SetLocalAsync("BulkMotherboard", serializedItems);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error ordering item: {ex.Message}", Severity.Error);
        }
    }

    public class Bulk
    {
        public string? Code { get; set; }
        public int Quantity { get; set; }
    }

    private async void OnButtonClicked(string link)
    {
        try
        {
            DeviceType = await JSRuntime.InvokeAsync<string>("detectDeviceType");
            if (DeviceType == "Mobile") isMobile = true;
            if (!isMobile)
            {
                await JSRuntime.InvokeVoidAsync("openInNewTab", link);
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox("Product Link", link);
                StateHasChanged();
            }

        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}