@page "/buildpc";
@using SharedClass.Components.Pages.Modals;
@using static SharedClass.Components.Pages.Modals.CustomModal
@using static SharedClass.Components.Pages.Modals.CustomerModal
@inject SharedClass.Components.Data.Insert insert;
@inject IJSRuntime JSRuntime;

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-12 col-md-12 col-lg-6 p-5 border-danger bg-gradient shadow" style="border-radius:30px;">
            <div class="card-wrapper">
                <div class="card-box align-center">
                    <h1 class="card-title mbr-fonts-style mb-4 display-1" style="font-family: 'Arial Rounded MT'; font-weight: 400; color: black;">
                        <strong>Ready to Build Your Dream PC?</strong>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Pre-Builts">
            <div class="shadow" style="border-radius: 2rem;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/prebuilt.webp" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title">Pre-Builts</h5>
                    <p class="card-text">Choose from pre-built configurations</p>
                    <NavLink href="#" class="btn btnpc btn-primary m-1 rz-ripple" Match="NavLinkMatch.All">Buy</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-auto m-auto mb-4">
    <div class="row justify-content-center p-0 me-auto">
        <div class="col-md-3" title="Motherboard">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/motherboard.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Motherboard</h5>
                    <p class="card-text">Choose your desired Motherboard</p>
                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Motherboard"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>

        <div class="col-md-3" title="Processor">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/processor.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Processor</h5>
                    <p class="card-text">Choose your desired Processor</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Processor"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Graphics Card">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/gpu.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Graphics Card</h5>
                    <p class="card-text">Choose your desired GPU</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Graphics Card"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Gaming Case">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/case.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Gaming Case</h5>
                    <p class="card-text">Choose your desired Case</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Gaming Case"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Memory">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/ram.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Memory</h5>
                    <p class="card-text">Choose your desired Memory</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Memory"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Storage">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/ssd.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Storage</h5>
                    <p class="card-text">Choose your desired Storage</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Storage"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Power Supply">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/psu.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Power Supply</h5>
                    <p class="card-text">Choose your desired PSU</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Power Supply"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-3" title="Cooler">
            <div class="shadow" style="border-radius:30px;">
                <div class="container p-4">
                    <img src="_content/SharedClass/Images/cooler.jpg" class="card-img-top " alt="...">
                </div>
                <div class="card-body m-2">
                    <h5 class="card-title text-truncate">Cooler</h5>
                    <p class="card-text">Choose your desired Fans</p>

                    <NavLink class="btn btnpc btn-primary m-1 rz-ripple" @onclick="@(args => ShowQuickView("Cooler"))" Match="NavLinkMatch.All">Select</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include the InputModal component -->
<CustomerModal @bind-IsVisible="IsVisible" OnSaveChanges="HandleInputModalSaveChanges" />

<CustomModal Model="model" IsVisible="isQuickViewVisible" ComponentName="@selectedComponentName" />

@code {
    BuildPcViewModel model = new BuildPcViewModel();
    
    bool isModalOpen = false;
    private bool isQuickViewVisible = false;
    private string selectedComponentName = " "; // You can set this dynamically

    private void ShowQuickView(string val)
    {
        isModalOpen = true;
        selectedComponentName = val;
        isQuickViewVisible = true;
    }

    private bool IsVisible { get; set; }

    protected override void OnInitialized()
    {
        // Set IsVisible to true when the component is initialized
        IsVisible = true;
    }

    private async void HandleInputModalSaveChanges(BuildPcViewModel model)
    {
        await insert.InsertIntoCustomBuilt(model.Id, model.Name, model.Contact, JSRuntime);
    }
}