@inject SharedClass.Components.Data.Select select;
@inject SharedClass.Components.Data.Insert insert;
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar;


<section>
    <div class="container py-5">
        @if (Processors != null)
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                @foreach (var values in Processors)
                {
                    <div class="col mb-4">
                        <div class="card text-black">
                            <div class="card-body">
                                <h5 class="card-title">@values.Brand</h5>
                                <h5 class="card-title">@values.Model</h5>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Core Threads</span><span>@values.Core_Threads</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Base Clock</span><span>@values.Base_Clock</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Boost Clock</span><span>@values.Boost_Clock</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Tdp</span><span>@values.Tdp</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btnpc btn-primary m-1 rz-ripple" @onclick="() => Select(values)">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

@code {
    public int Id { get; set; }
    public string Brand { get; set; }
    public string Model { get; set; }
    public int Core_Threads { get; set; }
    public float Base_Clock { get; set; }
    public float Boost_Clock { get; set; }
    public int Tdp { get; set; }

    private IEnumerable<Processor> Processors;

    protected override async Task OnInitializedAsync()
    {
        Processors = await select.GetProcessorsAsync();
    }
    private async Task Select(Processor selectedProcessor)
    {
        string component = "Processor";
        string combinedValue = $"{selectedProcessor.Brand} {selectedProcessor.Model}";
        await insert.InsertIntoCustomBuilt(combinedValue, component, JSRuntime);
        Snackbar.Clear();
        Snackbar.Add("Selection Saved", Severity.Success);
    }
}
