@page "/user-role"

@inject CRUD crud;
@layout AdminLayout;
@inject Connection con;
@inject UserRoles user;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <MudChip Variant="Variant.Text" Icon="@Icons.Material.Outlined.ArrowBackIos" Color="Color.Info" Href="/user-settings">User Settings</MudChip>
                <div>
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info"
                               Style="text-transform:none; margin-bottom: 20px;" OnClick="Create" Size="Size.Large">
                        Create
                    </MudButton>
                    @if (selectedItems.Any())
                    {
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.DeleteOutline"
                                   Style="text-transform:none; margin-bottom: 20px;" Color="Color.Error" OnClick="DeleteSelectedItems"
                                   Size="Size.Large">Delete</MudButton>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <MudTable @ref="_table" T="UserRoles" Items="@Elements" MultiSelection="true"
                      @bind-SelectedItems="selectedItems" Hover="true" Style="border-radius:20px" OnRowClick="@OnRowClick" Virtualize="true"
                      Filter="new Func<UserRoles,bool>(FilterFunc1)" Elevation="4">

                <ToolBarContent>
                    <MudText Typo="Typo.h6">Roles</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Role ID</MudTh>
                    <MudTh>Role Name</MudTh>
                    <MudTh>Creation Date</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Role ID">@context.RoleID</MudTd>
                    <MudTd DataLabel="Role Name">@context.RoleName</MudTd>
                    <MudTd DataLabel="Creation Date">@context.CreationDate.ToString("MM/dd/yyyy")</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </div>
    </div>
</div>

@code {
    private string searchString1 = "";
    private MudTable<UserRoles> _table;
    private IEnumerable<UserRoles> Elements = new List<UserRoles>();
    private HashSet<UserRoles> selectedItems = new HashSet<UserRoles>();

    protected override async Task OnInitializedAsync()
    {
        using SqlConnection db = new SqlConnection(con.connectionString);
        Elements = await db.QueryAsync<UserRoles>("SELECT * FROM UserRoles");
    }

    void OnRowClick(TableRowClickEventArgs<UserRoles> args)
    {
        user.RoleID = args.Item.RoleID;
        NavigationManager.NavigateTo($"/user-role/{user.RoleID}");
    }

    private bool FilterFunc1(UserRoles element) => FilterFunc(element, searchString1);

    private bool FilterFunc(UserRoles element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (element.RoleName.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        if ($"{element.CreationDate} {element.RoleID}".Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;

        return false;
    }

    private void Create()
    {
        NavigationManager.NavigateTo($"/user-role/new", forceLoad: true);
    }

    private void DeleteSelectedItems()
    {
        if (selectedItems == null || !selectedItems.Any())
        {
            Snackbar.Add("No items selected to delete", Severity.Info);
            return;
        }

        try
        {
            foreach (var item in selectedItems)
            {
                OutputClass output = new OutputClass();
                var parameter = new DynamicParameters(item);
                output = crud.CRD3(parameter, "CreateUOM", IsDelete: true, outputMessage: true, errorMessage: true);
                if (output.ErrorMessage != null)
                {
                    Snackbar.Add(output.ErrorMessage, Severity.Error);
                    return;
                }
            }

            Elements = Elements.Where(e => !selectedItems.Any(d => d.RoleID == e.RoleID)).ToList();
            Snackbar.Add($"{selectedItems.Count} items deleted", Severity.Success);
        }
        catch (SqlException ex)
        {
            if (ex.Number == 547)
            {
                Snackbar.Add("Role cannot be deleted it is in use", Severity.Error);
            }
            else
            {
                Snackbar.Add("Error deleting items: " + ex.Message, Severity.Error);

            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Error deleting items: " + ex.Message, Severity.Error);
        }

        selectedItems.Clear();
        StateHasChanged();
    }
}