@page "/home";

@layout AdminLayout;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<h4>Quick Access</h4>
<div class="row m-auto">
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.Bolt" Href="/item" Style="border-radius:10px">
                Items
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.AdUnits" Href="/uom" Style="border-radius:10px">
                UOM
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.FireTruck" Href="/vendors" Style="border-radius:10px">
                Vendor
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Filled.Person" Href="/customers" Style="border-radius:10px">
                Customer
            </MudListItem>
        </MudList>
    </MudPaper>
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Filled.Person" Href="/report/new-report" Style="border-radius:10px">
                Reports
            </MudListItem>
        </MudList>
    </MudPaper>
</div>

@code {

}