@page "/users/createuser";
@page "/users/{UserID?}"

@inject CRUD crud;
@layout AdminLayout;
@inject Users users;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

<div class="row p-3 align-items-center">
    <div class="col-6">
        <h3>
            @header
            @if (IsSaving)
            {
                <MudChip Variant="Variant.Text" Color="Color.Warning">Not Saved</MudChip>
            }
            @if (IsEnabled)
            {
                <MudChip Variant="Variant.Text" Color="Color.Success">Enabled</MudChip>
            }
            @if (IsDisabled)
            {
                <MudChip Variant="Variant.Text" Color="Color.Error">Disabled</MudChip>
            }
        </h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary m-1 rounded-3 text-sm-center" @onclick="SaveVendor">
            Save
        </button>
    </div>
</div>

<div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
    <h5>Basic Information</h5>
    <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
        <div class="col-md-6" hidden="!@IsSaving">
            <label class="form-label">User ID</label>
            <input type="text" @bind="users.UserID" class="form-control" readonly>
        </div>
        <div class="col-md-6">
            <label class="form-label">Username</label>
            <input type="text" @bind="users.UserName" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">First Name</label>
            <input type="text" @bind="users.FirstName" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Last Name</label>
            <input type="text" @bind="users.LastName" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Password</label>
            <input type="text" @bind="users.UserPassword" class="form-control">
        </div>
        <div class="col-md-6 mt-1">
            <MudSelect T="string" Label="Role" @bind-Value="users.UserRole" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Administrator")" />
                <MudSelectItem Value="@("Purchase")" />
                <MudSelectItem Value="@("Sale")" />
                <MudSelectItem Value="@("Production")" />
            </MudSelect>
        </div>
        <div class="col-md-6">
            <label class="form-label"></label>
            <MudCheckBox @bind-Value="@Disabled" Size="Size.Small" Dense="true" Label="Disabled"></MudCheckBox>
        </div>
    </form>
</div>

<div class="row m-3 p-3 rounded-3 shadow-sm bg-light">
    <h5>More Information</h5>
    <form class="row g-3" @oninput="HandleFormInput" autocomplete="off">
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" @bind="users.UserEmail">
        </div>
        <div class="col-md-6">
            <label class="form-label">Contact</label>
            <input type="text" class="form-control" @bind="users.UserPhone">
        </div>
        <div class="col-md-6">
            <label class="form-label">Birthday</label>
            <input type="date" class="form-control" @bind="users.UserBirthday">
        </div>
        <div class="col-md-6">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" @bind="users.UserAddress">
        </div>
        <div class="col-md-6">
            <label class="form-label">Identity #</label>
            <input type="text" placeholder="42310-1234567-8" class="form-control" @oninput="@(e => FormatIdentityNumber(e))" maxlength="15" @bind="users.UserIdentity">
        </div>
        <div class="col-md-6">
            <MudSelect T="string" Label="Gender" @bind-Value="users.UserGender" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Male")" />
                <MudSelectItem Value="@("Female")" />
                <MudSelectItem Value="@("Other")" />
            </MudSelect>
        </div>
    </form>
</div>

@code {
    [Parameter]
    public string? UserID { get; set; }

    string header = "New User";
    string? ValidationMessage { get; set; }
    string pattern = @"^\d{5}-\d{7}-\d{1}$";
    string passwordPattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$";

    bool IsSaving = true;
    bool Disabled = false;
    bool IsEnabled = false;
    bool IsDisabled = false;

    protected override void OnInitialized()
    {
        try
        {
            users.UserBirthday = DateTime.Today;
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                if (UserID != null)
                {
                    users = db.QueryFirstOrDefault<Users>("Select * from Users where UserID = @UserID", new { UserID = UserID });
                    if (users == null) NavigationManager.NavigateTo("/users/");

                    header = users.UserName;

                    if (users.Status == PurchaseStatuses.Enabled)
                    {
                        IsEnabled = true;
                        IsSaving = false;
                    }
                    else if (users.Status == PurchaseStatuses.Disabled)
                    {
                        Disabled = true;
                        IsDisabled = true;
                        IsSaving = false;
                    }
                }
            }
            StateHasChanged();
        }
        catch (Exception)
        {
            throw;
        }

        base.OnInitialized();
    }

    public string createUser()
    {
        try
        {
            using (SqlConnection db = new SqlConnection(con.connectionString))
            {
                string validate = ValidateVendor();
                if (validate != null)
                {
                    return validate;
                }

                header = users.UserName;

                if (IsEnabled)
                {
                    users.Status = PurchaseStatuses.Enabled;
                    IsSaving = false;
                }
                else if (IsDisabled)
                {
                    users.Status = PurchaseStatuses.Disabled;
                    IsSaving = false;
                }

                users.UserID = crud.CRD(users, "CreateUOM");

                if (UserID == null)
                {
                    NavigationManager.NavigateTo($"/users/{users.UserID}", forceLoad: true);
                }
                if (IsSaving)
                {
                    return "User Created Successfully";
                }
                else if (IsEnabled)
                {
                    return "User Enabled Successfully";
                }
                else if (IsDisabled)
                {
                    return "User Disabled Successfully";
                }
                else
                {
                    return "Error in saving request";
                }
            }
        }
        catch (Exception ex)
        {
            IsSaving = true;
            IsEnabled = false;
            IsDisabled = false;
            Disabled = false;
            return ex.Message;
        }
    }

    public void SaveVendor()
    {
        string notification = createUser();
        if (notification.Contains("Successfully"))
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Success);
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Add(notification, Severity.Error);
        }
    }

    public string ValidateVendor()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            if (!Disabled) { IsEnabled = true; IsDisabled = false; IsSaving = false; }
            if (Disabled) { IsEnabled = false; IsDisabled = true; IsSaving = false; }

            if (string.IsNullOrWhiteSpace(users.UserName)) { return $"Please enter Username"; }
            if (string.IsNullOrWhiteSpace(users.FirstName)) { return $"Please enter First Name"; }
            if (string.IsNullOrWhiteSpace(users.LastName)) { return $"Please enter Last Name"; }
            if (string.IsNullOrWhiteSpace(users.UserPassword)) { return $"Please enter User Password"; }
            if (string.IsNullOrWhiteSpace(users.UserEmail)) { return $"Please enter User Email"; }
            if (string.IsNullOrWhiteSpace(users.UserPhone)) { return $"Please enter User Phone"; }
            if (string.IsNullOrWhiteSpace(users.UserRole)) { return $"Please enter User Role"; }
            if (string.IsNullOrWhiteSpace(users.UserAddress)) { return $"Please enter User Address"; }
            if (string.IsNullOrWhiteSpace(users.UserIdentity)) { return $"Please enter User Identity"; }
            if (string.IsNullOrWhiteSpace((users.UserBirthday).ToString())) { return $"Please enter User Birthday"; }
            if (string.IsNullOrWhiteSpace(users.UserGender)) { return $"Please enter User Gender"; }
            if (!Regex.IsMatch(users.UserPassword, passwordPattern))
            { return "Password must be at least 8 characters long, and include at least one uppercase letter, one lowercase letter, one digit, and one special character."; }
            if (!Regex.IsMatch(users.UserIdentity, pattern))
            { return "Invalid Identity Number format. Correct format is 42310-1234567-8."; }
            if (!IsAtLeast18YearsOld(users.UserBirthday)) { return "User must be at least 18 years old."; }

            return null;
        }
    }

    private void HandleFormInput()
    {
        if (IsEnabled || (IsDisabled && Disabled))
        {
            IsSaving = true;
            Disabled = false;
            IsDisabled = false;
            IsEnabled = false;
            StateHasChanged();
        }
    }

    private void FormatIdentityNumber(ChangeEventArgs e)
    {
        var input = new string(e.Value.ToString().Where(char.IsDigit).ToArray());
        if (input.Length > 5)
        {
            input = input.Insert(5, "-");
        }
        if (input.Length > 13)
        {
            input = input.Insert(13, "-");
        }
        users.UserIdentity = input;
    }

    private bool IsAtLeast18YearsOld(DateTime birthday)
    {
        DateTime today = DateTime.Today;
        int age = today.Year - birthday.Year;

        if (birthday.Date > today.AddYears(-age)) age--;

        return age >= 18;
    }
}